# These are the credentials required for your Db2 database instance
# The application expects the SAMPLE database to be created and populated
# These credentials should be passed to the application as environment variables

DB_DATABASE=<database name>
DB_HOSTNAME=<hostname>
DB_PORT=50000
DB_UID=<username>
DB_PWD=<password>
DB_SCHEMA=<schema name>
